[submodule "aninerf"]
	path = aninerf
	url = https://github.com/dberga/aninerf.git
[submodule "AnimatableGaussians"]
	path = AnimatableGaussians
	url = https://github.com/feceugur/AnimatableGaussians.git
[submodule "pifuhd"]
	path = pifuhd
	url = https://github.com/feceugur/pifuhd.git
[submodule "ECON"]
	path = ECON
	url = https://github.com/feceugur/ECON.git
[submodule "SemanticGuidedHumanMatting"]
	path = SemanticGuidedHumanMatting
	url = https://github.com/feceugur/SemanticGuidedHumanMatting.git
[submodule "LightweightOpenPose"]
	path = LightweightOpenPose
	url = https://github.com/feceugur/lightweight-human-pose-estimation.pytorch.git
[submodule "vid2avatar"]
	path = vid2avatar
	url = https://github.com/MoyGcc/vid2avatar
[submodule "HierarchicalProbabilistic3DHuman"]
	path = HierarchicalProbabilistic3DHuman
	url = https://github.com/akashsengupta1997/HierarchicalProbabilistic3DHuman.git
[submodule "ARAH"]
	path = ARAH
	url = https://github.com/taconite/arah-release.git
[submodule "3DGS-Avatar"]
	path = 3DGS-Avatar
	url = https://github.com/mikeqzy/3dgs-avatar-release.git
[submodule "3D-Magic-Mirror"]
	path = 3D-Magic-Mirror
	url = https://github.com/layumi/3D-Magic-Mirror.git
[submodule "CarveKit"]
	path = CarveKit
	url = https://github.com/OPHoperHPO/image-background-remove-tool.git
[submodule "HRNet"]
	path = HRNet
	url = https://github.com/manhph2211/HRNet-Pose-Estimation.git
[submodule "Depth-Anything"]
	path = Depth-Anything
	url = https://github.com/LiheYoung/Depth-Anything
[submodule "MExECON"]
	path = MExECON
	url = https://github.com/feceugur/MExECON.git
[submodule "RC-SMPL"]
	path = RC-SMPL
	url = https://github.com/hailsong/RC-SMPL.git
[submodule "videoavatars"]
	path = videoavatars
	url = https://github.com/thmoa/videoavatars.git
[submodule "Realtime_SMPLX_Unity"]
	path = Realtime_SMPLX_Unity
	url = https://github.com/sangho0n/Realtime_SMPLX_Unity.git
[submodule "SMPLSim"]
	path = SMPLSim
	url = https://github.com/ZhengyiLuo/SMPLSim.git
